Repository appKODE/frontend-depend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, prettier-format

eslint-fix:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

prettier-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

refactor(push-notification-service): refactoring permissions
  packages/react-native-push-notification/src/model/hooks/use-push-available.ts
  packages/react-native-push-notification/src/push-notification-service/utils.ts
Due: eslint-fix, prettier-format

feat(react-native-push-notification): Добавлен сервис push-уведомлений для React Native (#31)
  .changeset/wicked-buses-notice.md
  README.md
  packages/react-native-push-notification/CHANGELOG.md
  packages/react-native-push-notification/LICENSE
  packages/react-native-push-notification/README.md
  packages/react-native-push-notification/package.json
  packages/react-native-push-notification/src/index.ts
  packages/react-native-push-notification/src/model/constanst.ts
  packages/react-native-push-notification/src/model/hooks/index.ts
  packages/react-native-push-notification/src/model/hooks/use-push-available.ts
  packages/react-native-push-notification/src/model/hooks/use-register-device.ts
  packages/react-native-push-notification/src/model/hooks/use-unregister-device.ts
  packages/react-native-push-notification/src/model/index.ts
  packages/react-native-push-notification/src/model/push-settings.ts
  packages/react-native-push-notification/src/model/types.ts
  packages/react-native-push-notification/src/push-notification-service/index.ts
  packages/react-native-push-notification/src/push-notification-service/push-notification-service-context.ts
  packages/react-native-push-notification/src/push-notification-service/push-notification-service.tsx
  packages/react-native-push-notification/src/push-notification-service/types.ts
  packages/react-native-push-notification/src/push-notification-service/use-push.tsx
  packages/react-native-push-notification/src/push-notification-service/utils.ts
  pnpm-lock.yaml
Due: eslint-fix, prettier-format

fix(push-notification-service): fixed deps
  docs/README-ru.md
  packages/react-native-push-notification/package.json
  packages/react-native-push-notification/src/model/push-settings.ts
  packages/react-native-push-notification/src/push-notification-service/utils.ts
  packages/react-native-push-notification/tsconfig.json
Due: eslint-fix, prettier-format

fix(session-interceptor): change Tokens type to Record
  packages/session-interceptor/src/types.ts
Due: eslint-fix, prettier-format

Create cool-insects-share.md
  .changeset/cool-insects-share.md
Due: prettier-format

fix: refactored internal config packages
  .eslintrc.js
  .syncpackrc.cjs
  internal/config-eslint/README.md
  internal/config-eslint/library.js
  internal/config-eslint/package.json
  internal/config-typescript/base.json
  internal/config-typescript/nextjs.json
  internal/config-typescript/package.json
  internal/config-typescript/react-library.json
  package.json
  packages/react-native-push-notification/package.json
  packages/session-interceptor/package.json
  packages/session-interceptor/tsconfig.json
  packages/typescript-config/base.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  turbo.json
Due: prettier-format

fix: fixed package.json linting
  package.json
  packages/react-native-push-notification/package.json
  packages/session-interceptor/package.json
Due: prettier-format

chore: fixed tsup configs
  .eslintrc.js
  internal/config-eslint/README.md
  internal/config-typescript/react-library.json
  lefthook.yml
  package.json
  packages/react-native-push-notification/package.json
  packages/react-native-push-notification/tsup.config.ts
  packages/session-interceptor/package.json
  packages/session-interceptor/tsup.config.ts
  pnpm-lock.yaml
Due: eslint-fix, prettier-format

docs: updated release docs
  README.md
  docs/README-ru.md
  package.json
  pnpm-lock.yaml
Due: prettier-format

docs(readme): updated release docs
  README.md
  docs/README-ru.md
  package.json
  pnpm-lock.yaml
Due: prettier-format

fix(build): fixed typescript config (#34)
  .eslintrc.js
  .syncpackrc.cjs
  internal/config-eslint/library.js
  internal/config-eslint/package.json
  internal/config-typescript/base.json
  internal/config-typescript/nextjs.json
  internal/config-typescript/package.json
  internal/config-typescript/react-library.json
  lefthook.yml
  package.json
  packages/eslint-config-internal/README.md
  packages/react-native-push-notification/package.json
  packages/react-native-push-notification/tsup.config.ts
  packages/session-interceptor/package.json
  packages/session-interceptor/tsconfig.json
  packages/session-interceptor/tsup.config.ts
  packages/typescript-config/base.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  turbo.json
Due: eslint-fix, prettier-format

Create flat-bananas-learn.md
  .changeset/flat-bananas-learn.md
Due: prettier-format

chore(deps): fixed lock
  pnpm-lock.yaml
Due: none

Create gold-cats-explain.md
  .changeset/gold-cats-explain.md
Due: prettier-format

fix(push-notification-service): fixed deps (#32)
  .changeset/flat-bananas-learn.md
  .changeset/gold-cats-explain.md
  .eslintrc.js
  .syncpackrc.cjs
  docs/README-ru.md
  internal/config-eslint/library.js
  internal/config-eslint/package.json
  internal/config-typescript/base.json
  internal/config-typescript/nextjs.json
  internal/config-typescript/package.json
  internal/config-typescript/react-library.json
  lefthook.yml
  package.json
  packages/eslint-config-internal/README.md
  packages/react-native-push-notification/package.json
  packages/react-native-push-notification/src/model/push-settings.ts
  packages/react-native-push-notification/src/push-notification-service/utils.ts
  packages/react-native-push-notification/tsconfig.json
  packages/react-native-push-notification/tsup.config.ts
  packages/session-interceptor/package.json
  packages/session-interceptor/tsconfig.json
  packages/session-interceptor/tsup.config.ts
  packages/typescript-config/base.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  turbo.json
Due: eslint-fix, prettier-format

chore: fixed lock file
  pnpm-lock.yaml
Due: none

docs(react-native-push-notification): added docs
  .changeset/flat-bananas-learn.md
  packages/react-native-push-notification/README.md
Due: prettier-format

Create lovely-flowers-heal.md
  .changeset/lovely-flowers-heal.md
Due: prettier-format

docs(react-native-push-notification): added docs (#37)
  .changeset/flat-bananas-learn.md
  .changeset/lovely-flowers-heal.md
  packages/react-native-push-notification/README.md
Due: prettier-format

fix(react-native-push-notification): fixed imports
  packages/react-native-push-notification/package.json
  packages/react-native-push-notification/src/index.ts
  packages/react-native-push-notification/src/model/index.ts
  packages/react-native-push-notification/src/push-notification-service/index.ts
Due: eslint-fix, prettier-format

Create lovely-fireants-learn.md
  .changeset/lovely-fireants-learn.md
Due: prettier-format

fix(react-native-push-notification): fixed imports (#38)
  .changeset/lovely-fireants-learn.md
  packages/react-native-push-notification/package.json
  packages/react-native-push-notification/src/index.ts
  packages/react-native-push-notification/src/model/index.ts
  packages/react-native-push-notification/src/push-notification-service/index.ts
Due: eslint-fix, prettier-format

fix(react-native-push-notification): fixed build packages
  packages/react-native-push-notification/package.json
  packages/react-native-push-notification/tsup.config.ts
Due: eslint-fix, prettier-format

Create brown-turkeys-chew.md
  .changeset/brown-turkeys-chew.md
Due: prettier-format

fix(react-native-push-notification): fixed build packages (#40)
  .changeset/brown-turkeys-chew.md
  packages/react-native-push-notification/package.json
  packages/react-native-push-notification/tsup.config.ts
Due: eslint-fix, prettier-format

Create cyan-bananas-deny.md
  .changeset/cyan-bananas-deny.md
Due: prettier-format

fix(react-native-push-notification): fixed build packages (#42)
  .changeset/cyan-bananas-deny.md
  packages/react-native-push-notification/package.json
  packages/react-native-push-notification/tsup.config.ts
Due: eslint-fix, prettier-format

fix(react-native-push-notification): fixed lock file
  pnpm-lock.yaml
Due: none

Create tame-schools-visit.md
  .changeset/tame-schools-visit.md
Due: prettier-format

fix(react-native-push-notification): fixed build (#43)
  .changeset/tame-schools-visit.md
  pnpm-lock.yaml
Due: prettier-format

chore(release notes): fix release note
  .changeset/cool-insects-share.md
Due: prettier-format

chore(deps): bump axios ver
  packages/session-interceptor/package.json
  pnpm-lock.yaml
Due: prettier-format

fix(session-interceptor): change Tokens type to Record (#33)
  .changeset/cool-insects-share.md
  packages/session-interceptor/package.json
  packages/session-interceptor/src/types.ts
  pnpm-lock.yaml
Due: eslint-fix, prettier-format

fix: fix android listener
  packages/react-native-push-notification/src/model/hooks/use-register-device.ts
Due: eslint-fix, prettier-format

Create thirty-tigers-repair.md
  .changeset/thirty-tigers-repair.md
Due: prettier-format

fix(react-native-push-notification): fix android AppListener (#46)
  .changeset/thirty-tigers-repair.md
  packages/react-native-push-notification/src/model/hooks/use-register-device.ts
Due: eslint-fix, prettier-format

feat(firebase): bump firebase messaging version
  packages/react-native-push-notification/package.json
  pnpm-lock.yaml
Due: prettier-format

Create seven-squids-boil.md
  .changeset/seven-squids-boil.md
Due: prettier-format

feat(react-native-push-notification): bump firebase messaging version (#48)
  .changeset/seven-squids-boil.md
  packages/react-native-push-notification/package.json
  pnpm-lock.yaml
Due: prettier-format

Path conditions:
  eslint-fix: any of: *.{ts,tsx}
  prettier-format: any of: *.{html,json,md,yml,[tj]s,[tj]sx}
