Repository appKODE/frontend-depend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, prettier-format

eslint-fix:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

prettier-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

chore: added feature-toggle-react
  package.json
  packages/eslint-config/package.json
  packages/feature-toggle-react/README.md
  packages/feature-toggle-react/package.json
  packages/feature-toggle-react/src/feature-toggle-config.ts
  packages/feature-toggle-react/src/flags-storage.ts
  packages/feature-toggle-react/src/index.ts
  packages/feature-toggle-react/src/types.ts
  packages/feature-toggle-react/src/utils/feature-toggle-component.tsx
  packages/feature-toggle-react/src/utils/index.ts
  packages/feature-toggle-react/src/utils/provider.tsx
  packages/feature-toggle-react/src/utils/use-feature-toggle.ts
  packages/feature-toggle-react/tsconfig.json
  packages/feature-toggle-react/tsup.config.ts
  packages/prettier-config/package.json
  packages/react-native-push-notification/package.json
  packages/react-native-push-notification/src/model/hooks/use-register-device.ts
  packages/session-interceptor/package.json
  packages/session-interceptor/src/session-interceptor.ts
  pnpm-lock.yaml
Due: eslint-fix, prettier-format

chore: updated readme
  packages/feature-toggle-react/README.md
Due: prettier-format

chore: updated changelog
  packages/feature-toggle-react/CHANGELOG.md
Due: prettier-format

chore: added feature-toggle-react
  package.json
  packages/eslint-config/package.json
  packages/feature-toggle-react/CHANGELOG.md
  packages/feature-toggle-react/README.md
  packages/feature-toggle-react/package.json
  packages/feature-toggle-react/src/feature-toggle-config.ts
  packages/feature-toggle-react/src/flags-storage.ts
  packages/feature-toggle-react/src/index.ts
  packages/feature-toggle-react/src/types.ts
  packages/feature-toggle-react/src/utils/feature-toggle-component.tsx
  packages/feature-toggle-react/src/utils/index.ts
  packages/feature-toggle-react/src/utils/provider.tsx
  packages/feature-toggle-react/src/utils/use-feature-toggle.ts
  packages/feature-toggle-react/tsconfig.json
  packages/feature-toggle-react/tsup.config.ts
  packages/prettier-config/package.json
  packages/react-native-push-notification/package.json
  packages/react-native-push-notification/src/model/hooks/use-register-device.ts
  packages/session-interceptor/package.json
  packages/session-interceptor/src/session-interceptor.ts
  pnpm-lock.yaml
Due: eslint-fix, prettier-format

feat: added adapter factory
  packages/feature-toggle-react/src/storage/adapter-local-storage.ts
  packages/feature-toggle-react/src/storage/adapter-void.ts
  packages/feature-toggle-react/src/storage/index.ts
  packages/feature-toggle-react/src/storage/storage-adapter.ts
  packages/feature-toggle-react/src/storage/types.ts
Due: eslint-fix, prettier-format

chore: refactored storage folder
  packages/feature-toggle-react/src/storage/adapter-local-storage.ts
  packages/feature-toggle-react/src/storage/adapter-void.ts
  packages/feature-toggle-react/src/storage/index.ts
Due: eslint-fix, prettier-format

chore: updated storage structure
  packages/feature-toggle-react/src/storage/index.ts
  packages/feature-toggle-react/src/storage/local-storage/adapter-local-storage.ts
  packages/feature-toggle-react/src/storage/local-storage/index.ts
  packages/feature-toggle-react/src/storage/void/adapter-void.ts
  packages/feature-toggle-react/src/storage/void/index.ts
Due: eslint-fix, prettier-format

chore: refactored structure
  packages/feature-toggle-react/src/context/feature-toggle-context.ts
  packages/feature-toggle-react/src/context/hooks/index.ts
  packages/feature-toggle-react/src/context/hooks/use-feature-toggle.ts
  packages/feature-toggle-react/src/context/index.ts
  packages/feature-toggle-react/src/context/types.ts
  packages/feature-toggle-react/src/index.ts
  packages/feature-toggle-react/src/provider/feature-toggle-provider.tsx
  packages/feature-toggle-react/src/provider/index.ts
  packages/feature-toggle-react/src/provider/types.ts
  packages/feature-toggle-react/src/types.ts
Due: eslint-fix, prettier-format

fix(session-interceptor): add ejectAll method for started interceptors
  packages/session-interceptor/README.md
  packages/session-interceptor/src/headers-interceptor.ts
  packages/session-interceptor/src/session-interceptor.ts
  pnpm-lock.yaml
Due: eslint-fix, prettier-format

chore(deps): bump patched deps
  package.json
Due: prettier-format

Create warm-birds-confess.md
  .changeset/warm-birds-confess.md
Due: prettier-format

Add eject interceptors (#52)
  .changeset/warm-birds-confess.md
  package.json
  packages/session-interceptor/README.md
  packages/session-interceptor/src/headers-interceptor.ts
  packages/session-interceptor/src/session-interceptor.ts
  pnpm-lock.yaml
Due: eslint-fix, prettier-format

fix(turbo): fixed turbo pipelines
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier-format

fix(session-interceptor): reademe: update example. add THeadersGetterArg reexport
  README.md
  packages/session-interceptor/README.md
  packages/session-interceptor/src/headers-interceptor.ts
Due: eslint-fix, prettier-format

fix(session-interceptor): reademe: update example. add THeadersGettet reexport (#54)
  README.md
  packages/session-interceptor/README.md
  packages/session-interceptor/src/headers-interceptor.ts
Due: eslint-fix, prettier-format

fix(axios): updated axios
  packages/session-interceptor/package.json
Due: prettier-format

build(package): add src files in build
  packages/session-interceptor/package.json
Due: prettier-format

docs(readme): fixed readme ts
  packages/session-interceptor/README.md
Due: prettier-format

fix(axios): updated axios
  pnpm-lock.yaml
Due: none

Create metal-houses-hide.md
  .changeset/metal-houses-hide.md
Due: prettier-format

fix(session-interceptor): fix build files (#55)
  .changeset/metal-houses-hide.md
  packages/session-interceptor/README.md
  packages/session-interceptor/package.json
  pnpm-lock.yaml
Due: prettier-format

fix(publish): temporarily removed audit comand
  lefthook.yml
Due: prettier-format

fix(push service): udpated readme
  packages/react-native-push-notification/README.md
  packages/react-native-push-notification/src/model/hooks/use-register-device.ts
Due: eslint-fix, prettier-format

Create eleven-points-unite.md
  .changeset/eleven-points-unite.md
Due: prettier-format

fix(react-native-push-notification): updated readme (#57)
  .changeset/eleven-points-unite.md
  packages/react-native-push-notification/README.md
  packages/react-native-push-notification/src/model/hooks/use-register-device.ts
Due: eslint-fix, prettier-format

feat(timeout-interceptor): init commit
  README.md
  packages/timeout-interceptor/LICENSE
  packages/timeout-interceptor/README.md
  packages/timeout-interceptor/package.json
  packages/timeout-interceptor/src/axios.d.ts
  packages/timeout-interceptor/src/constants.ts
  packages/timeout-interceptor/src/index.ts
  packages/timeout-interceptor/src/is-timeout-error.ts
  packages/timeout-interceptor/src/timeout-interceptor.ts
  packages/timeout-interceptor/tsconfig.json
  packages/timeout-interceptor/tsup.config.ts
  pnpm-lock.yaml
Due: eslint-fix, prettier-format

Create little-avocados-help.md
  .changeset/little-avocados-help.md
Due: prettier-format

chore: fixed readme and dependencies
  README.md
  packages/timeout-interceptor/package.json
Due: prettier-format

fix(session-interceptor): export THeadersGetterArg type
  packages/session-interceptor/src/headers-interceptor.ts
  packages/session-interceptor/src/types.ts
Due: eslint-fix, prettier-format

Create long-laws-own.md
  .changeset/long-laws-own.md
Due: prettier-format

Update long-laws-own.md
  .changeset/long-laws-own.md
Due: prettier-format

fix(session-interceptor): export THeadersGetterArg type (#60)
  .changeset/long-laws-own.md
  packages/session-interceptor/src/headers-interceptor.ts
  packages/session-interceptor/src/types.ts
Due: eslint-fix, prettier-format

Update little-avocados-help.md
  .changeset/little-avocados-help.md
Due: prettier-format

feat(timeout-interceptor): init commit (#59)
  .changeset/little-avocados-help.md
  README.md
  packages/timeout-interceptor/LICENSE
  packages/timeout-interceptor/README.md
  packages/timeout-interceptor/package.json
  packages/timeout-interceptor/src/axios.d.ts
  packages/timeout-interceptor/src/constants.ts
  packages/timeout-interceptor/src/index.ts
  packages/timeout-interceptor/src/is-timeout-error.ts
  packages/timeout-interceptor/src/timeout-interceptor.ts
  packages/timeout-interceptor/tsconfig.json
  packages/timeout-interceptor/tsup.config.ts
  pnpm-lock.yaml
Due: eslint-fix, prettier-format

chore: added svg icons transformer cli
  package.json
  packages/svg-transformer/.gitignore
  packages/svg-transformer/LICENSE
  packages/svg-transformer/README.md
  packages/svg-transformer/package.json
  packages/svg-transformer/src/index.ts
  packages/svg-transformer/src/process-svgs.ts
  packages/svg-transformer/src/template/index.ts
  packages/svg-transformer/src/template/template.ts
  packages/svg-transformer/tsconfig.json
  packages/svg-transformer/tsup.config.ts
  pnpm-lock.yaml
Due: eslint-fix, prettier-format

chore: refactored readme
  packages/svg-transformer/README.md
  packages/svg-transformer/src/index.ts
Due: eslint-fix, prettier-format

Добавлен CLI для генерации React компонентов из SVG (#63)
  package.json
  packages/svg-transformer/.gitignore
  packages/svg-transformer/LICENSE
  packages/svg-transformer/README.md
  packages/svg-transformer/package.json
  packages/svg-transformer/src/index.ts
  packages/svg-transformer/src/process-svgs.ts
  packages/svg-transformer/src/template/index.ts
  packages/svg-transformer/src/template/template.ts
  packages/svg-transformer/tsconfig.json
  packages/svg-transformer/tsup.config.ts
  pnpm-lock.yaml
Due: eslint-fix, prettier-format

Path conditions:
  eslint-fix: any of: *.{ts,tsx}
  prettier-format: any of: *.{html,json,md,yml,[tj]s,[tj]sx}
